@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/Roboto_Slab/static/RobotoSlab-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1{
    color: wheat;
    font-family: 'Roboto Slab';
}
#hello{
    text-align: center;
}
.hellodiv{
    position: absolute;
    width: 22%;
    height: 50%;
    border: 3px white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
body{
    background-color: black;
}
